
.main {
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-center;
    align-items: center;
    row-gap: 10px;
} 

.main_content_container {
    min-width: 500px;
    max-width: 80vw;
}

.card {
    width: 100%;
    min-width: 500px;
    min-height: 250px;
    /* min-height: 250px; */

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.title {
    font-weight:bold;
    color: #0E5A8A;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.message {
  font-weight: normal;
}

.prompt {
  font-weight: normal;
}

.no_margin_divider {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


.hflex_container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
} 

.vflex_container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
} 

.vflex_container2 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: right;
    gap: 0px;
    flex-grow:0;
} 

